@import 'styles/shared/colors';
@import 'styles/shared/constants';

body {
    background: $staticColor;
    color: $primaryColor;
    min-height: 100vh;
}

:global(#root) {
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header {
    background: $successColor;
    padding: 0 8px;
    color: $staticColor;
}

.content {
    flex: 1;
    padding: 8px;
}

.contentBody {
    max-width: 500px;
    margin: 0 auto;
}

.map {
    height: 300px;
}

.footer {
    padding: 8px;
    background: $staticColor;
}
